.start{
    display: flex;
    justify-content: space-between;
    background-image: url(images/quiz1.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
header ul {
    list-style: none;
    display: flex;
}
header ul li{
    margin: 20px;
}
header ul li a{
    color: #006400;
    text-decoration: none;
    font-size: 20px;
    font-style: bold;

}
header ul li a:hover{
    background-color: #0ae5f5;
}
header ul li a:active{
    color: honeydew;
}
header h1{
    color: #00ff00;
}
.aboutUs{
    text-align: center;
    padding: 40px;
}

